<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myself.mapper.EmployeeMapper">
    <insert id="insertEmployee" parameterType="entity.Employee">
        INSERT INTO employee (
            username,
            name,
            password,
            sex,
            phone,
            id_number,
            status,
            create_time,
            update_time,
            create_user,
            update_user
        ) VALUES (
            #{username},
            #{name},
            #{password},
            #{sex},
            #{phone},
            #{idNumber},
            #{status},
            #{createTime},
            #{updateTime},
            #{createUser},
            #{updateUser}
        )
    </insert>


    <select id="getByName" resultType="entity.Employee">
        select * from employee where username = #{username}
    </select>
    <select id="getPageHelperPara" resultType="entity.Employee">
        select * from employee
        <where>
            <if test="name != null and name !=''">
                name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
</mapper>
